snippet def
	def ${1:method_name}
		${0}
	end

snippet cla
	class ${1:ClassName}
		${0}
	end

snippet cla<
	class ${1:ClassName} < ${2:ParrentClass}
		${0}
	end

snippet clai
	class ${1:ClassName}
		def initialize(${2:args})
			${0}
		end
	end

snippet clai<
	class ${1:ClassName} < ${2:ParrentClass}
		def initialize(${2:args})
			${0}
		end
	end
