snippet imp
	@import ${0};
snippet ext
	@extend ${0};
snippet &
	&${1:name} {
		${0}
	}
snippet .
	.${1:class_name} {
		${0}
	}
snippet $
	$${1:variable}: ${0:value};
snippet #
	#${1:id_name} {
		${0}
	}

snippet video
	video {
		${0}
	}

snippet w
	width: ${0:width};

snippet h
	height: ${0:height};

snippet header
	header {
		${0}
	}

snippet {
	{ ${0} }
snippet idp
	@include display-flex;
